body{
    margin: 0;
    background-image:url(./OIP.jpg);
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.container{
    margin-top: 1000px;
    max-width:600px;
    margin:100px auto;
    padding: 25px;
    border:1px solid #000;
    border-radius: 50px;
    background-color: rgb(196, 234, 255);
    box-shadow: 0px 0px 10px rgb(192, 215, 222);
}
h1{
    text-align: center;
    color: #333;
}
input{
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}
btn-container{
    text-align: center;
}
button{
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    background-color: rgb(87, 94, 222);
    color:white;
    cursor: pointer;
    margin: 0.5px auto;
}
button:hover{
    background-color: rgb(29, 232, 236);
}
p{
    margin-top: 20px;
    background-color: aliceblue;
    
}